<html>
    <head>
        <title>Partha Sarathi Dey</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.css"  rel="stylesheet" />
        <script src="../static/js/typing.js" async></script>
    </head>

    <body>
        <main>
            <section class="w-full h-screen bg-black background">
                <div class="w-full h-full flex-col space-y-5">
                    
                    <nav class="border-gray-200 bg-black px-11 home">
                        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                        <a href="#" class="flex items-center">
                            
                            <span class="self-center text-3xl font-semibold text-white font-mono whitespace-nowrap tracking-tight">Port<span class="text-blue-600">folio</span></span>
                        </a>
                        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                        </button>
                        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                            <ul class="font-medium flex flex-col p-4  md:p-0 mt-6 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-black">
                            <li>
                                <a href="#home" class="block py-2 text-white font-mono font-bold text-md bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0" aria-current="page">Home</a>
                            </li>
                            <li>
                                <a href="#about" class="block py-2 text-white font-mono font-bold text-md rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">About</a>
                            </li>
                            <li>
                                <a href="#" class="block py-2 text-white font-mono font-bold text-md rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Services</a>
                            </li>
                            <li>
                                <a href="#" class="block py-2 text-white font-mono font-bold text-md rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Skills</a>
                            </li>
                            <li>
                                <a href="#" class="block py-2 text-white font-mono font-bold text-md rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Projects</a>
                            </li>
                            <li>
                                <a href="#" class="block py-2 text-white font-mono font-bold text-md rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Contact</a>
                            </li>
                            </ul>
                        </div>
                        </div>
                    </nav>
                    

                    <div class="flex justify-start py-24 px-16">
                        <div class="w-[60%] h-full flex-col text-white">
                            <p class="text-xl font-semibold">Hello, I am</p>

                            <p class="text-[60px] font-bold line-clamp-2 leading-[80px]">Partha <br> Sarathi <span class="text-blue-600 leading-[80px]">Dey</span></p>

                            <p class="text-3xl font-semibold mt-1">And I'm a <span id="typing-aimation" class="text-blue-600 font-mono">Software Engineer</span></p>

                            <button class="mt-8 border-2 border-blue-600 bg-blue-600 text-white px-8 py-2 rounded-lg text-xl font-mono hover:bg-black hover:text-blue-600 hover:duration-700 hover:transition" id="hire_me" type="button">Hire me</button>
                        </div>

                        <div class="w-[40%] h-full p-4">
                            <div class="rounded-[100%] bg-white w-72 h-72">
                                 <!-- <img src="../static/img/profile.png" alt="profile" class="w-64 h-60 pl-4"> -->
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section class="w-full h-screen bg-blue-600">

            </section>

            <section class="w-full h-screen bg-green-600">

            </section>

            <section class="w-full h-screen bg-red-600">

            </section>

            <section class="w-full h-screen bg-emerald-600">

            </section>

            <section class="w-full h-screen bg-slate-600">

            </section>
        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
    </body>
</html>